<script src="scripts/calendar.js"></script>
<script src="scripts/calendar-en.js"></script>
<link href="../css/calendar.css" rel="stylesheet" type="text/css">
<script src="scripts/acEmployee.js"></script>
<script src="scripts/ylib.js"></script>
<script src="scripts/invosa.js"></script>
<script src="employee_data.php"></script>
<link href="../css/ac.css" rel="stylesheet" type="text/css">
   <script src="../js/jquery-ui/jquery.min.js"></script>
  <script>

  jQuery(function($) {
  	$('#dataEmployee').on('blur', function(){
  		var dataEmp=$(this).val();
  		$.ajax({
  			type:"POST",
  			url:"absence_edit.php",
  			data: "nik=" + dataEmp,
  			success: function(data){
  				var result = data;
  				$("#result").html(data);
  			}
  		});
  	});
  })
  </script>
<script language="Javascript">
  // script-script tambahan, khusus untu loockup employee
 
  AC_targetElements = ["dataEmployee"];

  // fungsi yang melakukan proses jika kode (dari input box yang yang diinginkan(
  // kehilangan fokus.
  function onCodeBlur() {
    var kode = document.formInput.dataEmployee.value;
    var nama = AC_getNameByCode(kode);
    var obj = document.getElementById("employee_name");
    obj.innerHTML = nama;
    return 1;
  }
</script>

<script>

  // fungsi untuk nentuin apakah leave duratin disable/not
  function editLeaveDuration() {
    editable = document.formInput.chkEditLeave.checked;

    document.formInput.dataLeaveDuration.disabled = !editable;
  }
function ConfirmSave()
{
	var dateFrom = document.getElementById('dataDateFrom').value;
	var dateTo = document.getElementById('dataDateThru').value;
	return confirm("Are you sure to absence at this "+dateFrom+" until "+dateTo+"?");
	
	
		
	
}
  function clearForm() {
    document.formInput.dataEmployee.value = "";
    document.formInput.dataNote.value = "";
    document.formInput.dataID.value = "";
    document.formInput.dataDateFrom.focus();
  }//clearForm
  // fungsi memeriksa validasi input
  function validInput() {
    if (document.formInput.dataDate.value == "") {
      alert("Empty Date!");
      document.formInput.dataDate.focus();
      return false;
    }
    if (document.formInput.dataDateFrom.value == "") {
      alert("Empty Date!");
      document.formInput.dataDateFrom.focus();
      return false;
    }
    if (document.formInput.dataDateThru.value == "") {
      alert("Empty Date!");
      document.formInput.dataDateThru.focus();
      return false;
    }
    if (document.formInput.dataEmployee.value == "") {
      alert("Empty Employee ID!");
      document.formInput.dataEmployee.focus();
      return false;
    }
    tmp = dateCompare(document.formInput.dataDateFrom.value, document.formInput.dataDateThru.value);
    if (tmp == 1) {
      alert("Date thru is before date from!");
      document.formInput.dataDateThru.focus();
      return false;
    }

    // gak boleh entry di tanggal yang sama (HARI INI)
    /*
    tmp1 = dateCompare(document.formInput.dataDate.value, document.formInput.dataDateFrom.value);
    tmp2 = dateCompare(document.formInput.dataDate.value, document.formInput.dataDateThru.value);
    if (document.formInput.dataType.value != "K") // jika bukan ijin khussu
    {
      if (tmp1 == -1 || tmp2 == -1) {
        alert("Cannot entry absen for MORE than TODAY!");
        document.formInput.dataDateFrom.focus();
        return false;
      }
    } else {
      // kalau K boleh aja isi hari ini atau besok (IJIN KHUSUS)
    }
    */
    if(ConfirmSave())
	return true;
    else
      return false;
  } //validInput
  // fungsi untuk inisialisasi

  function initPage_() {
    document.formInput.dataDateFrom.focus();
    Calendar.setup({ inputField:"dataDate", button:"btnDate" });
    Calendar.setup({ inputField:"dataDateFrom", button:"btnDateFrom" });
    Calendar.setup({ inputField:"dataDateThru", button:"btnDateThru" });
    init();
    onCodeBlur();
  }//initPage

</script>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" class="pageHeaderTitle"> <table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="30"><img src="[var.pageIcon]" border="0" width="30" /></td>
          <td nowrap class="pageHeaderTitleText">[var.strPageTitle]</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="30"></td>
          <td nowrap><strong>
            [var.strWordsEntryAbsence] |  
            <a href="absence_list.php">[var.strWordsAbsenceList]</a> |
            <a href="absence_partial_edit.php">[var.strWordsEntryPartialAbsence]</a> |
            <a href="absence_partial_list.php">[var.strWordsPartialAbsenceList]</a> |
            <a href="leave_annual.php">[var.strWordsAnnualLeave]</a> |
          </td>
        </tr>
      </table></td>
  </tr>
 
  <tr>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td class="inputTop">[var.strWordsINPUTDATA]</td>
  </tr>
  <tr>
    <td  [var.strMsgClass] align="center">[var.strMessages]</td>
  </tr>
  <tr>
    <td valign="top" class="inputBox"> <form action="" method="post" name="formInput" id="formInput" enctype="multipart/form-data" onSubmit="return validInput();">
        <table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td valign="top"> <table border="0" align="left" cellpadding="1" cellspacing="0">
                <tr>
                  <td>&nbsp;</td>
                  <td width="15" align="center">&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr valign="top">
                  <td nowrap>&nbsp;[var.strWordsAbsenceRequestDate]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputDate]&nbsp;</td>
                </tr>
                <tr valign="top">
                  <td nowrap>&nbsp;[var.strWordsAbsenceDateFrom]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputDateFrom]&nbsp; <input name="btnDateFrom" type="button" id="btnDateFrom" value=".."></td>
                </tr>
                <tr valign="top">
                  <td nowrap>&nbsp;[var.strWordsAbsenceDateThru]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputDateThru]&nbsp; <input name="btnDateThru" type="button" id="btnDateThru" value=".."></td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;[var.strWordsAbsenceType]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputType]</td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;[var.strWordsEmployeeID]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputEmployee]<br><strong id="employee_name"></strong>&nbsp;</td>
                </tr>
                <tr valign="top">
                  <td nowrap>&nbsp;[var.strWordsNote]</td>
                  <td align="center">:</td>
                  <td>[var.strInputNote]</td>
                </tr>
                <tr valign="top">
                  <td nowrap>&nbsp;[var.strWordsDocument]</td>
                  <td align="center">:</td>
                  <td>[var.strInputDoc]</td>
                </tr>
                <tr valign="top">
                  <td nowrap>&nbsp;[var.strWordsStatus]</td>
                  <td align="center">:</td>
                  <td><strong>[var.strInputStatus] </strong></td>
                </tr>

                <tr valign="top">
                  <td>&nbsp;</td>
                  <td align="center">&nbsp;</td>
                  <td> <input name="btnSave" type="submit" id="btnSave" value="[var.strWordsSave]" > 
                  [var.strButtons]
                    <input name="btnNew" type="button" id="btnNew" value="[var.strWordsAddNew]" onClick="location.href='absence_edit.php';">
                    <input name="dataID" type="hidden" id="dataID" value="[var.strDataID]"></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td align="center">&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              </table></td>
            <td width="20" valign="top">&nbsp;</td>
            <td valign="top">[var.strLeaveDetail]</td>
            <td><strong id=result></strong></td>
          </tr>
        </table>
      </form>
    </td>
    
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>