
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>

    <tr>
      <td class="listTop"><strong>[var.strWordsListEmpLoan] [var.strInfo]</strong></td>
    </tr>
    <tr>
      <td>
      <form action="" method="post" name="formData" id="formData">
        <table class="gridTable" border="0" cellpadding="0"
 cellspacing="0">
          <tbody>
            <tr class="tableHeader" align="center">
              <td class="tableHeader" nowrap="nowrap" width="5">&nbsp;</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsEmployeeID]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsEmployeeID2]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsName]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsDivision]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsDepartment]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsPosition]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsFunctional]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsJoinDate]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsResignDate]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsActive]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsLoanDate]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsLoanCategory]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsLoanPurpose]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsLoanType]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsAmount]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsInterest]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsPeriode]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsMonthlyPayment]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsStartPayment] </td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsFinishPayment]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsPaid]</td>
              <td class="tableHeader" nowrap="nowrap">[var.strWordsNote]</td>
              <td class="tableHeader" nowrap="nowrap">Created By</td>
<!--              <td class="tableHeader" nowrap="nowrap" width="20">&nbsp;</td>-->
            </tr>
[var.strDataDetail] <tr>
              <td> &nbsp;</td>
              <td colspan="17">  &nbsp; </td>
            </tr>
          </tbody>
        </table>
      </form>
      </td>
    </tr>
  </tbody>
</table>
