  <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td colspan="2" align="left" class="pageHeaderTitle"> <table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="30"><img src="[var.pageIcon]" border="0" width="30" /></td>
          <td class="pageHeaderTitleText" nowrap>[var.strPageTitle]</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="30"></td>
          <td nowrap><strong>
            <a href="medical_quota.php">[var.strWordsEmployeeQuotaList]</a> |
            <a href="medical_edit.php">[var.strWordsInputMedicalClaim]</a> | 
            <a href="medical_list.php">[var.strWordsMedicalClaimList]</a> | 
            [var.strWordsEmployeeMedicalReport]</strong></td>
        </tr>
      </table></td>
  </tr>
  <tr>
      <td>&nbsp;</td>
    </tr>
      <tr> 
      <td valign="top">
        [var.formFilter;protect=no;htmlconv=no]
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
        [var.DataGrid; protect=no; htmlconv=no]
      </td>
    </tr>
  </tbody>
</table>