<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="[var.strPrintCss]" rel="stylesheet" type="text/css">
<script>

  // fungsi untuk inisialisasi
  function initPage_() {
    [var.strPrintInit];
  }//initPage
</script>

</head>

<body leftmargin="10" topmargin="0" marginwidth="10" marginheight="0" onLoad="initPage_();">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="listTop"><strong>LIST OF EMPLOYEE OVERTIME DATA [var.strInfo]</strong></td>
  </tr>
  <tr>
    <td><form action="" method="post" name="formData" id="formData">
        <table border="1" cellpadding="0" cellspacing="0" class="gridTable">
          <tr align="center" class="tableHeader"> 
            <!--td nowrap="" rowspan="2" width="15px">&nbsp;</td-->
            <!--td nowrap="" rowspan="2" width="15px">No.</td-->
            <td nowrap="" rowspan="2" width="50px">Date&nbsp;</td>
            <td nowrap="" rowspan="2" width="50px">ID&nbsp;</td>
            <td nowrap="" rowspan="2" width="150px">Employee Name&nbsp;</td>
            <!--td rowspan="2" nowrap="">Division&nbsp;</td>
            <td rowspan="2" nowrap="">Department&nbsp;</td>
            <td rowspan="2" nowrap="">Section&nbsp;</td>
            <td rowspan="2" nowrap="">Sub Section&nbsp;</td>
            <td rowspan="2" nowrap="">Shift&nbsp;</td-->
            <td nowrap="" rowspan="2" width="50px">Outdated&nbsp;</td>
            <td nowrap="" rowspan="2" width="50px">Salary&nbsp;</td>
            <td nowrap="" colspan="2">Start Early Plan&nbsp;</td>
            <td nowrap="" colspan="2">Early OT&nbsp;</td>
            <td nowrap="" colspan="2">Start Afternoon Plan&nbsp;</td>
            <td nowrap="" colspan="2">Afternoon OT&nbsp;</td>
            <td nowrap="" colspan="2">Work Day&nbsp;</td>
            <td nowrap="" colspan="4">Holiday&nbsp;</td>
            <td nowrap="" rowspan="2" width="20px">Total&nbsp;</td>
            <td nowrap="" rowspan="2" width="40px">Status</td>
            <!--td nowrap="" rowspan="2" width="40px">Transport</td>
            <td nowrap="" rowspan="2" width="40px">Transport<br>Fee</td-->
            <td nowrap="" rowspan="2">Note</td>
            <!--td nowrap="" rowspan="2" width="40px">&nbsp;</td-->
          </tr>
          <tr align="center" class="tableHeader"> 
            <td nowrap="" width="40px">Start Plan&nbsp;</td>
            <td nowrap="" width="40px">Finish Plan&nbsp;</td>
            <td nowrap="" width="40px">Start&nbsp;</td>
            <td nowrap="" width="40px">Finish&nbsp;</td>
            <td nowrap="" width="40px">Start Plan&nbsp;</td>
            <td nowrap="" width="40px">Finish Plan&nbsp;</td>
            <td nowrap="" width="40px">Start&nbsp;</td>
            <td nowrap="" width="40px">Finish&nbsp;</td>
            <td nowrap="" width="25px">L1&nbsp;</td>
            <td nowrap="" width="25px">L2&nbsp;</td>
            <td nowrap="" width="25px">L2&nbsp;</td>
            <td nowrap="" width="25px">L3&nbsp;</td>
            <td nowrap="" width="25px">L4&nbsp;</td>
            <td nowrap="" width="25px">L5&nbsp;</td>
          </tr>
          [var.strDataDetail]
        </table>
      </form></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
